* {
  margin:0;
  padding:0;
  font-family:'Lato', sans-serif;
}

#page-wrap {
  height:100vh;
  background-color:#594F4F;
}

option,
select {
  font-size:11,5px;
}

i {
  color:white;
}

/* To remove spinning buttons from number input */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
  
/*  -------------------------------
    Helpers
-------------------------------  */

/* Class to give parent of what you want vertically centered */
.vertical-center-parent:before {
  content:"";
  display:inline-block;
  height:100%;
  vertical-align:middle;
}

/* Class to be used for vertical centering, needs a ghost parent element */
.vertical-center-element {
  display:inline-block;
  vertical-align:middle;
}

/*  -------------------------------
    Header
-------------------------------  */
#header {
  height:15%;
  display:block;
  background-color:#413E4A;
  box-sizing:border-box;
  text-align:center;
  color:white;
}


/*  -------------------------------
    Main
-------------------------------  */
.ng-scope {
  height:75%;
}

.currency-selections-outer-wrap {
  height:35%;
  width:100%;
  background-color:#73626E;
}

.currency-selections-wrap {
  display:inline-block;
  width:100%;
  height:100%;
  margin-bottom:-4px;
}

/* Width of left and right elements */
.from-currency-choice,
.to-currency-choice {
  width:40%;
}

/* Width of central elements */
.reverse-button-wrap {
  width:20%;
}

.from-currency-choice,
.reverse-button-wrap,
.to-currency-choice {
  height:100%;
  background-color:#73626E;
}

.reverse-button {
  border-radius:50%;
  height:55px;
  width:55px;
  border:none;
  font-size:11.5px;
  cursor:pointer;
  
  background-color:#594F4F;
}

  .reverse-button:hover {
    background-color:#443C3C;
  }

.choose-currency-element {
  max-width:90%;
  padding:0.2em;
}

/* All six wrappers for the six blocks */
.from-currency-choice,
.reverse-button-wrap,
.to-currency-choice,
.enter-amount-area,
.between-area,
.after-conversion-area {
  display:inline-block;
  float:left;
  text-align:center;
  
  white-space:nowrap;
}

.conversion-display-area {
  display:block;
  height:35%;
}

.enter-amount-area,
.between-area,
.after-conversion-area {
  height:100%;
  color:white;
}

.enter-amount-area,
.after-conversion-area {
  width:40%;
}

.between-area {
  width:20%;
}

.amount-input {
  max-width:70px;
  text-align:center;
  border-radius:0 2px 2px 0;
  
  height:30px;
  border:none;
}

.abbreviation-next-to-white-field {
  display:inline-block;
  background-color:white;
  font-size:10px;
  color:grey;
  padding:0 3px;
  box-sizing:border-box;
  border-right:1px solid grey;
  
  border-radius:2px 0 0 2px;
  height:30px;
}

.equals-to-sign {
  display:block;
  border-radius:50%;
  height:55px;
  width:55px;
  border:none;
  font-size:40px;
  font-weight:bold;
  
  background-color:#73626E;
}

.after-conversion-wrapper {
  max-width:80%;
}

.after-conversion-span {
  color:black;
  padding-left:3px;
  background-color:white;
  height:30px;
  display:inline-block;
  font-size:13px;
  padding-right:3px;
  max-width:80%;
  overflow:hidden;
  box-sizing:border-box;
  border-radius:0 2px 2px 0;
}

/* Information area */
.information-wrap {
  height:30%;
  margin:0 auto;
  max-width:95%;
  color:white;
  font-size:12px;
}

  .information-wrap p {
    margin:0 0 5px 0;
  }

/* Footer */
#footer {
  height:10%;
  color:white;
  font-size:11px;
  text-align:center;
  background-color:#413E4A;
}

  #footer a {
    color:white;
  }
  
    #footer a:hover {
      color:#939393;
    }
    
.choose-currency-element-desktop {
  display:none;
}

/*  -------------------------------
    Media queries
-------------------------------  */

/*  Triggered when mobile user uses keyboard to enter value
    Or maybe if there's an unreasably small screen */
@media(max-height:400px) {
  .information-wrap {
    display:none;
  }
  
  .currency-selections-wrap,
  .conversion-display-area {
    height:50%;
  }
  
  
  
  
}

/* Desktop mode */
@media(min-width:768px) {
  
  .currency-selections-wrap {
    display:block;
    height:100%;
  }
  
  .currency-selections-wrap,
  .conversion-display-area,
  .information-wrap {
    margin:0 auto;
    max-width:960px;
  }
  
  .information-wrap {
    max-width:95%;
  }
  
  .choose-currency-element-desktop {
    display:inline-block;
  }
  
  .currency-search {
    width:70px;
    height:40px;
    box-sizing:border-box;
    text-align:center;
    border-radius:2px;
    border:1px solid white;
  }
  
  .currency-search-list {
    list-style-type:none;
    display:block;
    margin-top:-50px;
  }
  
  .currency-search-result {
    display:inline;
  }
  
    .currency-search-result button {
      background-color:#F7E4BE;
      box-sizing:border-box;
      border-radius:2px;
      border:1px solid #F7E4BE;
      margin:0 2px;
      font-size:12px;
      padding:5px;
    }
    
    .currency-search-result button:hover {
      background-color:#EAD3A6;
      border-color:#EAD3A6;
      cursor:pointer;
    }
  
  .choose-currency-element {
    display:none;
  }
  
  .abbreviation-next-to-white-field,
  .amount-input,
  .after-conversion-span {
    height:50px;
  }
  
  .amount-input,
  .after-conversion-span {
    width:130px;
    max-width:130px;
    font-size:16px;
  }
  
}

@media(min-width:1000px) {
  .information-wrap {
    max-width:960px;
  }
}