<!DOCTYPE html>
<html lang="en" data-ng-app="currencyApp">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Currency Converter</title>
  <link rel="shortcut icon" href="img/">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>
<body>

<div id="page-wrap">

  <!-- Header -->
  <header id="header" class="vertical-center-parent">
    <h2 class="vertical-center-element">Currency Converter</h1>
  </header>
  <!-- Main -->

  <div data-ng-controller="baseCurrencyController">
  
    <div class="currency-selections-outer-wrap">
      <div class="currency-selections-wrap">
        <div class="from-currency-choice vertical-center-parent">
          
          <!-- Used in mobile view -->
          <select data-ng-model="baseSelect" class="choose-currency-element vertical-center-element" data-ng-options="currency.abbreviation as (currency.abbreviation + ' - ' + currency.name) for currency in currencies" data-ng-change="changeBaseTo(baseSelect)"></select>
        
          <!-- Used in desktop view -->
          <input type="search" id="from-search-currency" class="choose-currency-element-desktop currency-search vertical-center-element" data-ng-model="baseSearchBar" placeholder="{{ chosenBaseInfo.abbreviation }}" data-ng-focus="focusBaseSearch=true" data-ng-blur="focusBaseSearch=false" data-ng-keypress="searchKeypressAction($event)">
          
          <ul data-ng-show="focusBaseSearch" id="from-search-currency-list" class="choose-currency-element-desktop currency-search-list">
            <li class="currency-search-result" data-ng-repeat="currency in currencies | filter:baseSearchBar | limitTo: 5"><button data-ng-mousedown="changeBaseTo(currency.abbreviation);">{{ currency.abbreviation }}</button></li>
          </ul>
          
        </div>
        
        
        <div class="reverse-button-wrap vertical-center-parent">
          <button class="vertical-center-element reverse-button" data-ng-click="reverse(chosenBaseInfo.abbreviation, convertTo)">
            <i class="fa fa-exchange fa-2x"></i>
          </button>
        </div>
        
        <div class="to-currency-choice vertical-center-parent">
          
          <!-- Used in mobile view -->        
          <select data-ng-model="convertToSelect" class="choose-currency-element vertical-center-element" data-ng-options="currency.abbreviation as (currency.abbreviation + ' - ' + currency.name) for currency in currencies" data-ng-change="changeConvertTo(convertToSelect)"></select>
          
          <!-- Used in desktop view -->
          <input type="search" id="to-search-currency" class="choose-currency-element-desktop currency-search vertical-center-element" data-ng-model="convertToSearchBar" placeholder="{{ convertTo }}" data-ng-focus="focusConvertToSearch=true" data-ng-blur="focusConvertToSearch=false" data-ng-keypress="searchKeypressAction($event)">
          
          <ul data-ng-show="focusConvertToSearch" id="to-search-currency-list" class="choose-currency-element-desktop currency-search-list">
            <li class="currency-search-result" data-ng-repeat="currency in currencies | filter:convertToSearchBar | limitTo: 5"><button data-ng-mousedown="changeConvertTo(currency.abbreviation)">{{ currency.abbreviation }}</button></li>
          </ul>
          
        </div>
      </div>
    </div>
  

    <div class="conversion-display-area">
      <div class="enter-amount-area vertical-center-parent">
        <div class="vertical-center-element">
          <p class="vertical-center-parent"><span class="abbreviation-next-to-white-field vertical-center-element vertical-center-parent"><span class="vertical-center-element">{{ chosenBaseInfo.abbreviation }}</span></span><input class="amount-input vertical-center-element" type="number" data-ng-model="amount" data-ng-change="calculateRate()"></p>
        </div>
      </div>
      <div class="between-area vertical-center-parent">
        <div class="vertical-center-element">
          <span class="equals-to-sign">=</span>
        </div>
      </div>
      <div class="after-conversion-area vertical-center-parent">
        <div class="vertical-center-element after-conversion-wrapper">
          <p class="vertical-center-parent"><span class="abbreviation-next-to-white-field vertical-center-element vertical-center-parent"><span class="vertical-center-element">{{ convertTo }}</span></span><span class="after-conversion-span vertical-center-element vertical-center-parent"><span class="vertical-center-element">{{ afterConversion }}</span></span></p>
        </div> 
      </div>
    </div>

    <div class="information-wrap">
      <p>Converting from {{ chosenBaseInfo.abbreviation }} ({{chosenBaseInfo.name }}) to {{ convertTo }} ({{ convertToName }}).</p>
      <p>Enter an amount in the left field, the value after conversion will be displayed in the right field.</p>
      <p>Change which currency to convert to and from at the top.</p>
    </div>
    
  </div>

  <!-- Footer -->
  <footer id="footer" class="vertical-center-parent">
    <p class="vertical-center-element">Made by Pavan Nayak | <a href="https://github.com/bluesuede/currency-converter">Github</a> | Using API from <a href="http://fixer.io">fixer.io</a></p>
  </footer>

</div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="js/ngTouch.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>